* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    padding: 50px;
    font-family: 'Montserrat', sans-serif;
  }

  header {
    text-align: center;
  }

  .number {
    height: 50px;
    width: 100px;
    background-color: black;
    color: white;
    font-size: 40px;
    text-align: center;
    margin: 50px auto;
    /* background-color: rgb(46, 147, 46); */
    /* background-color: rgb(200, 31, 31); */
  }

  section {
    display: flex;
    justify-content: space-around;
    width: 390px;
  }

  .center {
    display: flex;
    justify-content: center;
  }

 footer {
    text-align: center;
    margin-top: 50px;
 }

 .message {
    text-align: center;
    margin-top: 10px;
 }

 .btn {
    height: 30px;
    width: 60px;
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
 }

 .guessInput{
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 30px;
    width: 100px;
    text-align: center;
 }

